%p
  %i= I18n.t 'project.products'
  %ul
    - project.line_items_sorted_by_product_unit.each do |item|
      %li
        .text.long.phat= item.product_name
        .number= item.format_as_number(item.quantity)
        / ToDo worship Demeter!
        .text.desc= item.product.unit.plural
        .text x
        .number{item.modification_tooltip}= item.modified_price_as_currency(3)
        .text= "="
        .number.phat= number_to_currency(item.price, :precision => 2, :unit => "€", :format => "%n %u")
        .edit-links
          .text= link_to I18n.t('shared.edit'), edit_project_line_item_path(project, item)
          .text= "|"
          .text= link_to I18n.t('shared.delete'), [project, item], method: :delete, data: { confirm: 'Are you sure?' }
  .clearer