= form_for project do |f|
  - if project.errors.any?
    #error_explanation
      %h2= "#{pluralize(project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - project.errors.full_messages.each do |msg|
          %li= msg

  - if project.new_record?
    .field
      = f.label :customer_id, I18n.t('project.customer')
      = f.select :customer_id, options_from_collection_for_select(customers, "id", "name", project.customer_id) 
  - else
    .field
      %h3= project.customer_name
      
  .field
    = f.label :name, I18n.t('project.name')
    = f.text_field :name
  .field
    = f.label :status_id, I18n.t('project.status')
    = f.select :status_id, options_from_collection_for_select(statuses, "id", "status_desc", project.status_id) 

  .actions
    = f.submit I18n.t('shared.save')
