= form_for project do |f|
  - if project.errors.any?
    #error_explanation
      %h2= "#{pluralize(project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :customer_id, I18n.t('project.customer')
    = f.select :customer_id, options_from_collection_for_select(customers, "id", "name") 
  .field
    = f.label :title, I18n.t('project.title')
    = f.text_field :title
  .field
    = f.label :status, I18n.t('project.status')
    = f.text_field :status
  .field
    = f.label :source_language, I18n.t('project.source_language')
    = f.text_field :source_language
  .field
    = f.label :target_language, I18n.t('project.target_language')
    = f.text_field :target_language
  .actions
    = f.submit I18n.t('shared.save')
