%h2= I18n.t 'project.all'

%table
  %tr
    %th= I18n.t('project.title')
    %th= I18n.t('project.customer')
    %th= I18n.t('project.status')
    /%th= I18n.t('project.product_description')
    %th= I18n.t('project.units')
    %th= I18n.t('project.price')
    %th
    %th
    %th

  - projects.each do |project|
    %tr
      %td= project.title
      %td= project.customer_name
      %td= project.status
      / %td= project.product_description
      %td= project.units
      %td= project.total_price
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to I18n.t('project.new'), new_project_path
