= form_for product do |f|
  - if product.errors.any?
    #error_explanation
      %h2= "#{pluralize(product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - product.errors.full_messages.each do |msg|
          %li= msg

  - if product.new_record?
    .field
      = f.label :key
      = f.text_field :key
  - else
    .field
      %h3= product.key
  
  .field
    = f.label :name
    = f.text_field :name


  - if product.new_record?
    .field
      = f.label :unit_id
      = f.select :unit_id, options_from_collection_for_select(units, "id", "unit_desc", product.unit_id)
  - else
    .field
      %h3= product.unit_desc

  .field
    = f.label :price
    = f.text_field :price

  - unless product.new_record? || product.active == false
    .field
      = f.label :active
      = f.check_box :active, :onchange => "alert('Archieving an entry can not be undone!');" 
    / #TODO: I18n + better explanation + only on deactivating + nicify

  .actions
    = f.submit 'Save'
