%p#notice= notice

%p
  %b Key:
  = @product.key
%p
  %b Name:
  = @product.name
%p
  %b Unit:
  = @product.unit
%p
  %b Price:
  = @product.price
%p
  %b Active:
  = @product.active

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
