.container
  .footer
    %span.footer-link= link_to I18n.t('pages.offer'),   translations_path
    %span.footer-link= link_to I18n.t('pages.prices'),  languages_and_prices_path
    %span.footer-link= link_to I18n.t('pages.contact'), contact_path
    %span.footer-link= link_to I18n.t('pages.legal'),   impressum_path
    %span.footer-link= link_to I18n.t('pages.faq'),     faq_path