!!! 5
%html(lang="en")
  %head
    = render 'layouts/metahead'

  %body
    = render 'layouts/nav'
    
    .container
      .row
        .span12
          - if true  
            = render 'layouts/admin' 

          %p
            - flash.each do |key, value|
              = content_tag(:div, value, :class => "round flash #{key}")

          %main
            = yield

    %foot
      = render 'layouts/footer' 

/ JavaScript placed at the end of the document so the pages load faster
= javascript_include_tag "application"
